@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.About__container{
    font-family: 'Roboto Slab', serif;
  
}
.About__title{
    text-align: center;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
}

.About__Description{
    margin: 0 70px;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 1mm;
    font-size: 18px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    align-items: center;
}

.contact__container{
    text-align: center;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}